/**
 * Various additions to the nav styling
 */

.nav-additions {
  .nav-title {
    display: inline-block;
    position: absolute;

    img {
      max-height: 100%;
      padding: 5px;
    }
  }

  ul {
    float: right;
  }

  border: 1px solid @base-light-grey;
  position: fixed;
  top: 2em;
  width: 100%;
  z-index:999;
  height: 3em;
}

.nav-container .nav ul li {
  a {
    line-height: 2em;
    margin-top: .6em;
    font-size: .9em;
    .animate-menu;

    &:hover {
      background: rgba(0,0,0, 0.05);
      border-radius: 3px;
      box-shadow: 0 0 0 ;
      color: #000;
    }
  }
}

#main-content {
  margin-top: 3em;
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 600px) {
  .nav-additions {
    height: auto;
    position: initial;

    .nav {
      height: auto;
    }

    .nav-title {
      position: initial;
      display: block;
    }

    ul {
      float: none;
      display: block;

      li {
        display: block;
      }
    }
  }

}
